.App {
  background-color: #F5F5F5;
}

.Monster-list {
  flex: 100%;
  margin: 8px;
}

.Footer {
  height: 56px !important;
}

.Watermark {
  height: 100vh;
  display: flex;
  align-self: flex-end;
}

.Mui-selected {
  color: #000 !important;
  font-weight: bold;
}

.MuiBottomNavigationAction-root {
  color: #474747;
}

html, #root, body, .App {
  height: 100vh;
}

.Wrapper {
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.BodyWrapper {
  overflow-y: auto;
  flex: 95%;
}

.FooterWrapper {
  height: 56px !important;
}

.WatermarkWrapper {
  height: 24px !important;
}

.MuiCard-root {
  overflow: visible !important;
}

.Button {
  border-radius: 50%;
  background-color: #000;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}